.App {
  text-align: center;

  padding: 30px 30px;

  .widget {
    margin-top: 20px;
  }

  .widgets-container {
    display: flex;
    justify-content: space-between;

    .second-column {
      margin-left: 20px;
      flex-grow: 1;
    }
  }
}