@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #23232F;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

.form-control {
  background-color: transparent;
  height: 40px;
  padding: 0;
  border-radius: 0;
  color: #fff;

  // border: none;
  // border-bottom: 1px solid #6c757d;
  
  border: 1px solid #6c757d;
  padding: 5px;
}

.form-control:focus {
  background-color: transparent;
  outline: 0;
  box-shadow: none;
  color: #fff;
}

.widget {
  background: linear-gradient(
      49.21deg, 
      rgba(127, 127, 213, 0.2) 19.87%, 
      rgba(134, 168, 231, 0.2) 58.46%,
      rgba(145, 234, 228, 0.2) 97.05%
    ); 

  .table {
    color: #fff;
    th, td {
      border-top: none;
    }
  
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: #7d9e3063;
        }
      }
    }
  }
}

.widget-border {
  border: 1px solid rgb(242, 242, 242);
}

.widget-shadow {
  box-shadow: rgb(255, 171, 124) 4px 4px 0px 0px;
}

.widget-bg-gradient {
  background: linear-gradient(
      49.21deg, 
      rgba(127, 127, 213, 0.2) 19.87%, 
      rgba(134, 168, 231, 0.2) 58.46%,
      rgba(145, 234, 228, 0.2) 97.05%
    );
}

.card-header {
  border-bottom: 1px solid #909090;
}

.btn-success {
  background-color: #50755861;
}

.btn-danger {
  background-color: #6b2c148c;
  border-color: #cc3241;
}

.btn-info {
  background-color: #1a454c;
  border-color: #6dc6d4;
}

.modal-content {
  background: linear-gradient(
      49.21deg, 
      rgba(127, 127, 213, 0.2) 19.87%, 
      rgba(134, 168, 231, 0.2) 58.46%,
      rgba(145, 234, 228, 0.2) 97.05%
    );  

  .table {
    background-color: #1a1b1a52;
    color: #fff;
    th, td {
      border-top: none;
    }
  }
}

::placeholder { 
  color: #AAAAAA !important;
  opacity: 1; 
}